@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');

:root{
    --dark-black: #111;
    --black: #141414;
    --light-black: #1B1B1B;
    --gray: #E1E1E1;
    --white: #FFFFFF;
}

header{
    background-color: var(--light-black);
    height: 7vh;
    padding: 1.5vh 4vw;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
    color: var(--gray);
    font-weight: bold;
    font-size: 1.2rem;
}

img{
    width: 5vw;
}