@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --dark-black: #111;
    --black: #141414;
    --light-black: #1B1B1B;
    --gray: #E1E1E1;
    --white: #FFFFFF;
    --purple: #7700ff;
}

header{
    background-color: var(--light-black);
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sticky {
    position: fixed;
    z-index: 9999;

    top: 0;
    width: 100%;
}

nav div{
    display: flex;
}

nav .divPages a:first-child {
    border-radius: 0 0 10px 0;

}

a{
    padding: 1.5vh 4vw;

    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: var(--gray);
    font-size: 1.2rem;
    font-weight: 400;

    transition: 0.5s;
}

a:hover{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0 0 10px 10px;
}

a.button{
    font-weight: 700;
    background-color: var(--light-black);
    border-radius: 0 0 0 10px;
}

a.button:hover{
    color: var(--purple);
}
